---
// TODO define Note
type Note = Record<string, any>;
import ArticleSummaryCard from "../../components/ArticleSummaryCard.astro";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob<Note>("../../content/*.(md|mdx)");
const allTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout title="about">
  <h1>Blog</h1>
  <ul>
    {
      allTags.map((tag) => (
        <li class="inline-block mx-2 scale-100">
          <Tag tag={tag} />
        </li>
      ))
    }
  </ul>
  <h2>All posts</h2>
  <ul>
    {
      allPosts.map(({ frontmatter: { title, description, slug, tags } }) => (
        <ArticleSummaryCard
          title={title}
          tags={tags}
          slug={slug}
          description={description}
        />
      ))
    }
  </ul>
</BaseLayout>
